<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  </head>
  <body>
    <div class="px-3 pt-3">
    <h2>
    {% if kube_cluster_name is none %}
    Create and manage your Notebooks on Kubernetes.
    {% else %}
    Create and manage your Notebooks on the <strong>{{ kube_cluster_name }}</strong> Kubernetes cluster.
    {% endif %}
    </h2>
    <p>Please provide the OIDC Kubernetes token that will be used on your behalf to manage your notebooks. You can find it in your <mark>~/.kube/config</mark>. </p>
    <form action="/api/login/" id="kube_token_form" method="POST">
      <label for="kube_token" class="form-label">Kubernetes OIDC token:</label>
      <textarea name="kube_token" id="kube_token" class="form-control" placeholder="Kubernetes OIDC token" form="kube_token_form" required="required" rows="10"></textarea>
      <div id="kube_token_help" class="form-text">
        If the token is valid, it will be stored in the kube_token Cookie.
      </div>
      <button type="submit" class="btn btn-primary">Log in</button>
    </form>
    </div>
  </body>
</html>