<!DOCTYPE html>
<html>
  <title>Notebooks</title>
  <body>
    <h2>Hello {{ username }} :)</h2>
    <button onclick="location.href='/notebooks/'" type="button">Refresh</button>
    <h4>Your Notebooks in the namespace <b>{{ notebooks_namespace }}</b>:</h4>
    <table id="notebooks_table">
      <thead>
        <tr>
          <th>Status</th>
          <th>Name</th>
          <th>Start Time</th>
          <th>Image</th>
          <th>Connect</th>
          <th>Pause/Resume</th>
          <th>Errors & Events</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        {% for notebook in notebooks %}
          <tr>
            <td>{{ notebook.status }}</td>
            <td>{{ notebook.name }}</td>
            <td>{{ notebook.start_time }}</td>
            <td>{{ notebook.image }}</td>
            <td><button onclick="location.href='{{ notebook.connect_link() }}'" type="button">Connect</button></td>
            <td>
              <button onclick="location.href='{{ notebook.pause_resume_link() }}'" type="button">{% if notebook.status == notebook_not_running %}Resume{% else %}Pause{% endif %}</button>
            </td>
            <td><button onclick="location.href='{{ notebook.events_link() }}'" type="button">Check out</button></td>
            <td>
            <form action="{{ notebook.delete_link() }}" method="POST">
                <button>Delete</button>
            </form>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <button onclick="location.href='/new_notebook/'" type="button">New Notebook</button>
  </body>
</html>